/* @Typography */
body { font-family: "Georgia", Georgia, serif; }

h1, h2, h3, h4 { font-family: "Georgia", Georgia, serif; }

nav { text-align: center; }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
