/* @Typography */
body { font-family: 'Lato', serif; font-weight: 400; background-color: white; }
p { color: #0D1B2A; line-height: 2; text-align: justify; font-size: 1.2rem; }

h1, h2, h3, nav { text-align: center; }
h1 { font-family: 'Marck Script', cursive; font-size: 10rem; font-weight: 300; }
h3 { font-family: 'Lato', serif; text-transform: lowercase; letter-spacing: 0.2em; }
h2 { font-family: 'Lato', serif; font-size: 6rem; text-transform: lowercase; letter-spacing: 0.1em; font-weight: 700; }
h4 { font-family: 'Lato', serif; text-transform: lowercase; }
nav { font-family: 'Lato', serif; font-size: 1.35rem; }

.white-text { color: #fff; }
.pink-text { color: #C141B2; }
.lavender-text { color: #676FC6; }
.purple-text { color: #181066; }

.work-h1 { font-family: 'Lato', serif; font-size: 8rem; }

.highlight-large-text{ font-family: 'Lato', serif; font-size: 2rem; }
.highlight-lavender { background: linear-gradient(180deg,rgba(193,65,178,0) 50%, #676FC6 50%); }

figcaption { font-style: italic; padding-bottom: 1em; color: #696969; }

#contact i { font-size: 3rem; }

h2, h3 { color: #0D1B2A; }

.colorchange{
			background: -webkit-linear-gradient(90deg, #C141B2, #181066, #0F1C99, #676FC6);
			background: -o-linear-gradient(135deg, #C141B2, #181066, #0F1C99, #676FC6);
			background: linear-gradient(-45deg, #C141B2, #181066, #0F1C99, #676FC6);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			
			background-size: 400% 4%;
			-webkit-animation: textcolorchange 15s linear infinite;
			        animation: textcolorchange 15s linear infinite;
		}
		@-webkit-keyframes textcolorchange{
			0%{
				background-position: 0% 50%;
			}
			25%{
				background-position: 50% 50%;
			}
			50%{
				background-position: 100% 50%;
			}
			75%{
				background-position: 75% 50%;
			}
			100%{
				background-position: 0% 50%;
			}
		}
		@keyframes textcolorchange{
			0%{
				background-position: 0% 50%;
			}
			25%{
				background-position: 50% 50%;
			}
			50%{
				background-position: 100% 50%;
			}
			75%{
				background-position: 75% 50%;
			}
			100%{
				background-position: 0% 50%;
			}
		}


/*Index*/
#work h3 { font-size: 2rem; }


h2 {
  overflow: hidden;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: lowercase;
	letter-spacing: 0.2em;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0);
}

nav a:hover,
nav a:focus {
    color: #fff;
	outline: none;
}


/* Effect 3: bottom line slides/fades in. Effect courtesy of https://codepen.io/deniywn*/
.cl-effect-3 a {
	padding: 8px 0;
}

.cl-effect-3 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgba(193, 65, 178, 1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}


/* @Layout */


/*Standard*/



.gradient-bg {
	background: linear-gradient(-45deg, #C141B2, #181066, #0F1C99, #676FC6);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.black-bg {
    background-color: #0D1B2A; 
}

.light-purple-bg {
    background-color: #EAEDFD;
}

.purple-bg {
    background-color: #ada6f1;
}

.pink-border {
    border: 1em solid #C141B2;
    border-left: 1em solid #C141B2; 
}

.lavender-border {
    border: 1em solid #676FC6;
    border-left: 1em solid #676FC6;
}

.purple-border {
    border: 1em solid #181066;
    border-left: 1em solid #181066;
}

.black-border {
    border: 1em solid #0D1B2A;
    border-left: 1em solid #0D1B2A;
}

#top { padding-top: 12em; padding-bottom: 20em; }

nav ul { list-style-type: none; position: absolute; margin: 0; top: 0em; left: 0em; right: 0em; }
nav ul li { padding: 0.5em 2em; display: inline-block;  }


section { padding-top: 6em; padding-bottom: 6em; }


img { border: 1px solid #d3d3d3; }

.tab { margin-left: 2.5em; }
.doubletab { margin-left: 5em; }
.tripletab { margin-left: 7.5em; }



iframe {
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 1px;
-moz-box-shadow: 4px 4px 14px #fff;
-webkit-box-shadow: 4px 4px 14px #fff;
box-shadow: 4px 4px 14px #fff;
-moz-transform:rotate(0deg);
-webkit-transform:rotate(0deg);
-o-transform:rotate(0deg);
-ms-transform:rotate(0deg);
} 

#top h1 { padding-top 6em; }

.card { background-size: cover; border: solid 4px #C141B2; padding: 0.25em;}
.card h3 { letter-spacing: rem; }

/* animation by madebypaul.com */
.card-section:hover { font-size: 1.5rem; }

.card:hover { font-weight: 700; letter-spacing: 0.3px; color: #C141B2; border: solid 8px #C141B2; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; }
.icon-link:hover { color: #fff; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; }



/* #work article:hover { background: #ffffff;  box-shadow: 0 2px 30px 2px hsla(5,5%,5%,.2); }*/

/*Index*/
#about img { align-content: center; padding-bottom: 2em; border: 0px; max-height: 40%; max-width: 40%; }
#speaks img { max-height: 100%; max-width: 100%; }



#contact ul { list-style-type: none; text-align: center; padding-bottom: 0em; padding-left: 1em; }
#contact ul li { display: inline-block; padding-bottom: 4em; }

#copyright { padding: 1em 0em; }

/*speaks*/
#speaks-business img { border: 0; }
#speaks-overview, #speaks-the-challenge, #speaks-our-process img { border: 0; }


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
    h1 { font-size: 2.5rem; }
    h2 { font-size: 2rem; }
    #top, #overview h3 { font-size: 1rem;}
    nav { font-size: 1rem; }
    

   
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 992px) { 
    h1 { font-size: 5rem; }
    h2 { font-size: 4rem; }
    section { padding-bottom: 3em; padding-left: 1em; padding-right: 1em; } 
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 1400px) {
   
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {    
}

/* Obscenely Larger Screens */
@media screen and ( min-width: 1600px ) {
	body { font-size: 18px; }
}
